@tailwind components;

@layer components {
    .header-main {
        @apply flex flex-row
        min-w-[330px] bg-white;
    }

    .header-flex-conf {
        @apply flex flex-row px-3 justify-between w-3/4;
    }

    .container-loginSign {
        @apply h-9 mx-3 sm:w-40 sm:relative max-[350px]:mx-auto;
    }

    .login-button {
        @apply bg-green-100 text-black whitespace-nowrap
        rounded-2xl transition px-4 py-1
        sm:text-right sm:w-full sm:absolute
        hover:bg-green-500 hover:text-white;
    }

    .sign-button {
        @apply bg-green-400 text-white z-20 hidden
        rounded-2xl transition px-4 py-1
        sm:block sm:absolute;
    }

    .icon-menu {
        @apply text-gray-500 mr-3 hover:text-gray-800;
    }
}