@tailwind components;

@layer components {
    .main-content {
        @apply flex flex-row justify-between p-10 w-full max-w-6xl
        max-md-3:flex-col max-md-3:justify-center max-md-3:p-0;
    }
    .form-container {
        @apply text-gray-800 p-6 border bg-white rounded-lg shadow-md w-96
        max-md-3:order-first max-md-3:w-full max-md-3:rounded-none;
    }
    .input-data {
        @apply border rounded-md p-2 mb-2 w-64
        max-md-3:w-full;
    }
    .submit-container {
        @apply flex flex-row justify-between w-64 mx-auto mt-3
        max-md-3:w-full;
    }
    .help-button {
        @apply border shadow-sm rounded-md w-[7.5rem] py-1
        max-md-3:w-1/2;
    }
}